.main-bg {
    background: url("../../images/bg2.jpg") no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 100vh;
  }
  
  /* content */
  
  .bg-content-w3pvt {
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 20px;
    background: #fff;
    text-align: center;
  }
  
  .top-content-style {
    padding: 2vw 0vw 2vw;
    background: #1cc7d0;
  }
  
  .top-content-style img {
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 20%;
  }
  
  .sub-main-w3 form {
    background: #ffff;
    padding: 2em;
    -webkit-box-shadow: 2px 5px 16px 2px rgba(16, 16, 16, 0.18);
    -moz-box-shadow: 2px 5px 16px 2px rgba(16, 16, 16, 0.18);
    box-shadow: 2px 5px 16px 2px rgba(16, 16, 16, 0.18);
    margin: -2.5em 2.5em 2em;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  
  p.legend {
    color: #4e4d4d;
    font-size: 24px;
    text-align: center;
    margin: 10px 0 60px 0px;
  }
  
  p.legend span {
    color: #000;
    margin-left: 10px;
  }
  
  .input {
    position: relative;
    margin: 20px auto;
    width: 100%;
  }
  
  .input span {
    position: absolute;
    display: block;
    color: #1cc7d0;
    left: 10px;
    top: 18px;
    font-size: 16px;
  }
  
  .input input {
    width: 100%;
    height: 50px;
    padding: 13px 10px 13px 34px;
    display: block;
    border: none;
    border: 1px solid #1cc7d0;
    color: #000;
    box-sizing: border-box;
    font-size: 13px;
    outline: none;
    letter-spacing: 1px;
    background: #fff;
    -webkit-box-shadow: 2px 5px 16px 2px rgba(16, 16, 16, 0.18);
    -moz-box-shadow: 2px 5px 16px 2px rgba(16, 16, 16, 0.18);
    box-shadow: 2px 5px 16px 2px rgba(16, 16, 16, 0.18);
  }
  
  .submit {
    width: 100px;
    height: 40px;
    display: block;
    margin: 15px auto;
    background: #1cc7d0;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
  }
  
  .submit span {
    color: #fff;
    font-size: 20px;
  }
  
  .submit:hover {
    opacity: 0.8;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
  }
  
  a.bottom-text-w3ls {
    color: #757474;
    font-size: 16px;
    display: inline-block;
    margin: 0em 1em 2em;
    letter-spacing: 1px;
  }
  
  /* //content */
  
  /* copyright */
  .copyright {
    margin-top: 3.08vw;
    padding-bottom: 1.5vw;
  }
  
  .copyright h2 {
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    line-height: 1.8;
  }
  
  .copyright h2 a {
    color: #1cc7d0;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
  }
  
  .copyright h2 a:hover {
    opacity: 0.8;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
  }
  