.carousel__container{
  background: #FEF2E8;
  .carousel {
    margin-bottom: 45px;
    padding-top: 45px;
    padding-bottom: 45px;
    .imgTop__carousel {
      margin-bottom: 20px;
    }
  
    .img__carousel {
      position: relative;
      overflow: hidden;
      box-shadow: 3px 3px 5px #333;
      border-radius: 5px;
      img {
        width: 100%;      
        transition: all 0.3s;
      }
  
      &:hover{
          img {
              transform: scale(1.2);
            }
      }
  
      .img__background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: all 0.3s;
        overflow: hidden;
        &:hover{
            background-color: #fbf8f840;
        }
      }
    }
  
    .all__courses{
      text-align: center;
      margin-top: 70px;
      cursor: pointer;
      a{
        font-size: 100%;
        padding: 15px 20px;
        border-color: #ffb900;
        border-radius: 50px;
        font-weight: 700;
        color: #000;
        background: -webkit-linear-gradient(top,#fff 0,#ffe6a0 5%,#ffba00 100%);
        animation: shadow-pulse 1s infinite;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}

@keyframes shadow-pulse {
  0%{
    box-shadow: 0 0 0 0px rgba(252, 164, 63, 0.4);
  }
  100%{
    box-shadow: 0 0 0 15px rgba(252, 164, 63, 0);
  }
}